.addressBook {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.remove {
  --color-brand: var(--color-accent);
  margin-left: auto;
}

.item {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.item address {
  font-size: 0.85em;
}

.item h3 {
  margin: 0 0 0.5em;
}
@media (max-width: 500px) {
  h2 {
    margin-bottom: 0.3rem;
  }
  .addressBook {
    height: 15%;
  }
}

@media (max-width: 375px) {
  h2 {
    margin-bottom: -0.5rem;
  }
}
