fieldset {
    border: none;
    border-bottom: 1px solid var(--color-accent);
    border-top: 1px solid var(--color-accent);
    margin: 2rem 0;
    max-width: var(--width-input);
    padding: 1rem 0;
    width: 100%;
}

legend {
    color: var(--color-text-light);
}

.form-row {
    margin-bottom: 0.5em;
  }